/* Smooth scrolling */

html {
  scroll-behavior: smooth;
}

/* CSS variables */

:root {
  --color-primary: #d73953;
  --color-black: #090909;
  --color-white: #ffffff;
  --color-light-grey: #f3f3f3;
  --color-dark-grey: #353535;
  --text-color: var(--color-black);
}

/* Body text color */

body {
  color: var(--text-color);
}

/* Anchor color */

a {
  color: var(--text-color);
}

/* Hidden elements */

.visually-hidden {
  display: none;
}

/* Tagline color */

.section-tagline {
  color: var(--color-primary);
}

/* Card category color */

.card-category {
  color: var(--color-primary);
}
